<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epicodus.pocketpomodoro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".PocketPomodoroApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.MainActivity" />
        <activity
            android:name=".views.CreateDeckActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.pocketpomodoro.views.MainActivity" />
        </activity>
        <activity
            android:name=".views.StudyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".views.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.CreateUserActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.pocketpomodoro.views.LoginActivity" />
        </activity>
        <activity android:name=".views.SelectDeckActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.pocketpomodoro.views.MainActivity" />
        </activity>
        <activity
            android:name=".game.GameActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".views.MyDecksActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.pocketpomodoro.views.MainActivity" />
        </activity>
        <activity android:name=".views.UpdateDeckActivity"></activity>
    </application>

</manifest>